@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-bg {
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    }

.smokey-blue{
    background-image: url('/smokey-blue.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.smokey-blue-inverse{
    background-image: url('/smokey-blue-inverse.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navy-gold{
    background-image: url('/navy-gold.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wave-yellow{
    background-image: url('/lw-yellow.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    }

.wave-blue{
    background-image: url('/lw-blue.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    }
    
.wave-purple{
    background-image: url('/bs-purple.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    }

.wave-sunset{
    background-image: url('/lw-sunset.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.wave-darksun{
    background-image: url('/bs-darksun.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.wave-lightsun{
    background-image: url('/lw-lightsun.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.custom-box-shadow{
    box-shadow: 6px 6px 30px 0 rgba(0,0,0,0.3);
}

@font-face {
    font-family: Fredoka;
    src: url(/Fredoka-Regular.ttf);
}

*{
    font-family: Fredoka;
}